:root {
  --prymary-text-color: #212121;
  --prymary-bg-color: #ffffff;
  --active-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  width: 500;
}

header {
  font-size: 14px;
  line-height: 1.14;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.nav-list {
  text-decoration: none;
}
