:root {
  --prymary-text-color: #212121;
  --prymary-bg-color: #ffffff;
  --active-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  width: 500;
  color: var(--prymary-text-color);
}

header .list {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--prymary-text-color);
}

.logo .logo-color {
  color: var(--active-color);
}

.list {
  list-style: none;
}

.border li {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

header a,
footer a {
  text-decoration: none;
  font-style: normal;
}

.header-contacts {
  color: #757575;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}

.header-contacts:hover,
.header-contacts:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--active-color);
}

.navigation-disactive a {
  color: var(--prymary-text-color);
}

.navigation-disactive a:focus,
.navigation-disactive a:hover {
  color: var(--active-color);
}

.navigation-active a {
  color: var(--active-color);
}

.filter button {
  font-size: 16px;
  line-height: 1.63;
  /* text-align: center; */
  letter-spacing: 0.03em;

  background: #f5f4fa;
  border-radius: 4px;
  border-width: 0px;

  cursor: pointer;
}

.filter button:focus,
.filter button:hover {
  font-size: 16px;
  line-height: 1.63;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #ffffff;
  background: var(--active-color);
  border-radius: 4px;
  border-width: 0px;
}

.filter-active button {
  font-size: 16px;
  line-height: 1.63;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #ffffff;
  background: var(--active-color);
  border-radius: 4px;
  border-width: 0px;
}

.title h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.title p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a; /* Временная запись чтоб было видно текст контактов футера*/
}

footer address {
  background-color: #2f303a; /* Временная запись чтоб было видно текст контактов футера*/
}
